.auth-page {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, #5757d9 0%, #21d9f7 100%);
  z-index: 101;
}
.auth-card {
  display: flex;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -55%);
  flex-direction: column;
  background-color: rgb(54, 57, 63);
  width: 500px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.send {
  display: flex;
  flex-direction: row;
}
.send-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: white;
}
.send-form-label {
  margin: 0.8em 0 0 2em;
  font-size: 12px;
  color: #b9bbbe;
  text-transform: uppercase;
  font-weight: bold;
}
.send-form-input {
  padding: 1em;
  margin: 1em 2em;
  width: 100%;
  background-color: rgb(49, 51, 57);
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  color: inherit;
  border-radius: inherit;
}
.send-form-label-error {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
  color: #d74144;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
}
.auth-card-label {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  font-size: 20px;
  font-weight: bold;
}

.send-btn {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .auth-card {
    width: 400px;
  }
}
@media screen and (max-width: 430px) {
  .auth-card {
    width: 300px;
  }
}
