.Message {
  display: flex;
  background-color: rgb(54, 57, 63);

  border-radius: 5px;
  color: #dcddde;
  overflow-wrap: break-word;
}
.Message:hover {
  background-color: rgb(50, 53, 59);
}
.Message-avatar {
  margin: 2px 14px 0;
  left: 0;
}
.Message-content {
  flex-direction: column;
  padding: 0 0 5px 0;
  overflow: hidden;
}
.Message-avatar-empty {
  flex-shrink: 0;
  width: 40px;
}
.Message-content-userName {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-weight: 600;
}
.Message-content-text {
  text-align: left;

  overflow-wrap: anywhere;
}
.Message-empty {
  margin-top: 0px !important;
}
