.Message {
  display: flex;
  background-color: rgb(54, 57, 63);

  border-radius: 5px;
  color: #dcddde;
  overflow-wrap: break-word;
}
.Message:hover {
  background-color: rgb(50, 53, 59);
}
.Message-avatar {
  margin: 2px 14px 0;
  left: 0;
}
.Message-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 5px 0;
}
.Message-avatar-empty {
  width: 40px;
}
.Message-content-userName {
  font-weight: 600;
}
.Message-content-text {
  text-align: left;
  overflow-wrap: anywhere;
}
.Message-empty {
  margin-top: -3px !important;
}
