.Members {
  display: grid;
  grid-template-areas: "Members-header" "Members-list";
  grid-template-rows: 50px 1fr;
}
.Members-header {
  grid-area: Members-header;
  z-index: 10;
  border-radius: 0 15px 0 0;
}
.Members-list {
  grid-area: Members-list;
  background-color: #2f3136;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  overflow-x: auto;
}

.Member {
  display: flex;
  align-items: center;
  margin: 8px 0 0 0;
  padding: 5px 0;
  width: 100%;
}
.Member:hover {
  background-color: rgb(52, 55, 60);
  cursor: pointer;
}
.Member-active {
  background-color: rgb(52, 55, 60);
}

.Member-user {
  margin: 0 0 0 8px;
  white-space: nowrap;
  overflow: hidden;
}

.Member-userName {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.Member-userStatus {
  color: rgb(185,187,190);
  font-size: 0.8em;
  margin: 0;
}

