.serverIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #36393f;
  z-index: -50;
}
.serversButton {
  z-index: 1;
}
.Servers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Server > .css-1d6wzja-MuiButton-startIcon {
  margin: 0;
}
