.Mesenger {
  background-color: #36393f;

  display: grid;
  grid-template-areas: "Mesenger-header" "Mesenger-list" "Mesenger-fotter ";
  grid-template-rows: 50px 1fr 50px 30px;
}
.Mesenger-header {
  grid-area: Mesenger-header;

}
.Mesenger-list {
  grid-area: Mesenger-list;
  height: 100%;
  padding-left: 10px;
}
.Mesenger-fotter {
  display: flex;
  margin: 0 15px;
  border-radius: 15px ;
  grid-area: Mesenger-fotter;
  vertical-align: bottom;
  background-color: #40444b;
  align-items: center;
}
.Mesenger-input {
  border: 0;
  background-color: #40444b;
  color: white;
  width:95%;
}
