.Mesenger {
  background-color: #36393f;

  display: grid;
  grid-template-areas: "Mesenger-header" "Mesenger-list" "Mesenger-fotter ";
  grid-template-rows: 50px 1fr 80px;
}
.Mesenger-header {
  grid-area: Mesenger-header;
}
.Mesenger-list {
  grid-area: Mesenger-list;
  padding: 10px 10px 0 10px;
  margin: 5px 0;
  overflow: auto;
}
.Mesenger-fotter {
  display: flex;
  margin: 0 15px 15px;
  border-radius: 10px;
  grid-area: Mesenger-fotter;
  vertical-align: bottom;
  background-color: #40444b;
  align-items: center;
}
.Mesenger-input {
  width: 100%;
  font-size: small;
  padding: 0 15px;
  border: 0px;
  background-color: #40444b;
  color: white;
  outline:none
}
