.Mesage {
  display: flex;
  width: 100%;
  justify-items: start;
  margin: 15px 0 0 0;
}
.Mesage:hover{
  background-color: #32353b;
}
.Mesage > .userIcon {
  width: 40px;
  height: 40px;
  grid-area: userIcon;
}
.Mesage > .user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Mesage > .user > .userName {
  margin: 0 0 0 10px;
  color: aqua;
  font-size: 15px;
}
.Mesage > .user > .msg {
  text-align:left;
  margin: 0 0 0 10px;
  font-size: 14.5px;
}
